<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>State Selection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-buttons end>
  <ion-button  color="primary" expand="block" (click) ="openState1()" >ANDHRA PRADESH</ion-button>
   <ion-button  color="primary" expand="block" (click) ="openState2()" >MADHYA PRADESH </ion-button>
   <ion-button  color="primary" expand="block" (click) ="openState3()" >UTTAR PRADESH</ion-button>
  </ion-buttons>
</ion-content>
